.greet-container {
  border: 5px solid red;
  margin: 25px 0 25px 0;
  text-align: center;
  border-radius: 5px;
  background-color: black;
  color: white;
  width: 30%;
margin-left: 34%;
font-family: Arial;
}