.user-container{
  display: flex;
  flex-wrap: wrap;
  margin: 3px;
column-gap: 20px;
row-gap: 20px;
width: 800px;
margin-left: 25%;
}


.card {
   
    background: #aaa5b4;
    border: solid 1px #1f2430;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    position: relative;
    width: 200px;
   
}

.card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 6px;
    border-radius: 12px 0 0 12px;
    background: linear-gradient(#9371e3, #7026ef);
}

.post-container{
  margin: 3px;
}

.post-btn{
  text-align: center;
}

.btn-post{
  color: rgb(99, 38, 38);
  padding: 5px;
  background-color: rgb(241, 241, 241);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.card-box{
  padding: 10px;
  margin: 3px;

  
}